
.logo {
    font-family: Rubik-Light;
}

.header_transparent {
    background: transparent;
  }
 

.app-padding {
  padding-top: 10vh;
}
/* 
.color-brand {
  color: rgba(52, 199, 181, 1)
} 

.bg-color-brand {
    background-color:rgba(52, 199, 181, 1)
} */
