@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-brand {
    background-color:rgba(52, 199, 181, 1)
}

.color-brand {
    color: rgba(52, 199, 181, 1)
}

.app-padding {
    padding-top: 10vh;
}


span {
    font-family: Rubik;
}

p {
    font-family: Rubik-Light;
}

h1{
    font-family: Rubik;
}
 