@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-brand {
    background-color:rgba(52, 199, 181, 1)
}

.color-brand {
    color: rgba(52, 199, 181, 1)
}

.app {
    height: 100vh;
}

.splash {
    height: 100vh;
}

span {
    font-family: Rubik;
}

p {
    color: black
}

.app-padding {
    padding-top: 10vh;
}
 
 